* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

#msg-icon {
    color: white;
}

.flex {
    display: flex;
    background-color: #023e69;
    color: white;
    line-height: 50px;
}

.flex img {
    vertical-align: middle;
}

.child:first-child {
    flex-grow: 7;
}

.child {
    flex-grow: .5;
}



nav {
    background-color: #fd6b20;
}
.icon{
    font-size: 17px;
    color: white;
    margin-right: 11px;
}
#about-icon{
    margin-left: 18px;
    font-size: 24px;
    position: relative;
    top: 4px
}

.nav-flex {
    display: flex;
    color: white;
    list-style-type: none;
    line-height: 60px;
    position: relative;
}

#logo-box {
    height: 121px;
    width: 131px;
    background-color: white;
    position: absolute;
    left: 27px;
    top: -51px;

}

nav li:first-child {
    flex-grow: 10;
}

nav li {
    flex-grow: 1;
}

#sec-img {
    background-image: url(./img.jpg);
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

#logo-box span {
    position: absolute;
    color: #023e69;
}

#logo {
    position: absolute;
    top: 6px;
    bottom: 0px;
    left: 37px;
    right: 0;
}

#logo-box span {
    position: absolute;
    color: black;
    top: 57px;
    left: 24px;
}

#pages {
    color: white;
    border: none;
    background: transparent;
    /* background-color: #fd6b20; */
}

section {
    color: white;
    padding-left: 40px;
}

section h5 {
    padding-top: 100px;
}

section h1 {
    font-size: 65px;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

#para {
    justify-content: center;
    width: 799px;
}

.btn1 {
    color: white;
    background: transparent;
    border-color: white;
    padding: 8px 20px 8px 20px;
}

.btn2 {
    background-color: #fd6b20;
    border: none;
    padding: 10px 20px 10px 20px;
    margin-left: 5px;

}
#two-lines{
    width: fit-content;
    margin: auto;
}
.ist-line{
    display: inline-block;
    background-color:#023e69;
    width: 100px;
    height: 10px;
}
.second-line{
    display: inline-block;
    background-color: #fd6b20;
    width: 100px;
    height: 10px;
}
div h1,h5{
    color: #023e69;
    text-align: center;
    

}
#bara-box{
    display: flex;
    width: 800px;
    margin: auto;
    column-gap: 70px;
    /* vertical-align: middle; */
    text-align:center;
    
}
.last-para{
    text-align:center;
    padding: 10px;
}
.box{
    box-shadow: 0px 0px 8px 10px #bababa;
    
}
